.photo-descriptions {
    animation: fadeInUp 0.8s 0.4s forwards;
    color: var(--lighter-text-color);
    font-size: 1.125rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.6;
    margin: auto;
    margin-top: 30px;
    opacity: 0;
    text-align: center;
    transform: translateY(-20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    width: 65%;
}

@media screen and (min-width: 650px) {
    .photo-descriptions {
        font-size: 1.25rem;
        margin-top: 25px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-descriptions {
        font-size: 1.375rem;
        margin-top: 40px;
    }
}

.photo-container, .photo-container2 {
    animation: fadeInUp 0.8s 0.8s forwards;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: auto;
    margin-top: 60px;
    max-width: 1200px;
    opacity: 0;
    transform: translateY(-30px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.photo-box {
    width: 300px;
    height: 450px;
    margin: 10px;
    text-align: center;
    vertical-align: top;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.photo-box img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.photo-box .title {
    position: absolute;
    font-family: Acorn;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Center the text */
    font-size: 30px;
    font-weight: regular;
    color: white; 
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
}

.photo-box:hover {
    transform: scale(1.05);
}

/* Photo container and categories  */
.photo-container2 {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px auto;
  padding: 40px;
  background-color: rgba(231, 213, 190, 0.8);
  border-radius: 30px;
}

.photo-categories {
  position: relative;
  height: 450px; 
  max-width: 300px;  /* space between each image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-categories img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 5px;
} 

.description a {
  font-weight: bold;
  color: var(--text-color);
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.description a:hover {
  color: var(--text-hover);
}