/* Style for the link-boxes container */
.link-boxes {
    animation: fadeInUp 0.5s forwards;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin-top: 70px;
    opacity: 0;
    transform: translateY(-50px);
    transition: transform 0.5s ease, opacity 0.3s ease;
}

.link-box {
    animation: fadeInUp 1.2s forwards;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    overflow: hidden;
    padding: 40px 40px 0 40px;
    position: relative;
    text-decoration: none;
    transform: translateY(-20px);
    transition: transform 0.2s ease;
}

.link-box:hover {
    transform: scale(1.05);
}

.above-text {
    color: #354542;
    font-size: 20px;
    margin: 0;
}

.box-title {
    color: #354542;
    font-family: Acorn;
    font-size: 35px;
    margin-bottom: 40px;
    text-align: left;
}

.link-box:first-of-type {
    animation-delay: 0.2s;
    background-color: #f3a1ad;
    height: 450px;
    width: 500px;
}

.link-box img {
    align-self: center;
    border-radius: 15px 15px 0px 0px;
    display: block;
    margin-top: auto;
    max-width: calc(100% - 0px);
    object-fit: cover;
}

.link-box:nth-of-type(2) {
    animation-delay: 0.4s;
    background-color: #a3dcd5;
    height: 450px;
    width: 750px;
}

.link-box:nth-of-type(3) {
    animation-delay: 0.6s;
    background-color: #C78476;
    height: 520px;
    width: 850px;
}

.link-box:nth-of-type(4) {
    animation-delay: 0.8s;
    background-color: #F0C159;
    height: 460px;
    width: 800px;
}

.description a {
    width: 100%;
}

@media screen and (max-width: 1023px) {
    .link-box {
        height: 350px;
        padding: 20px;
        width: 300px;
    }

    .link-box:first-of-type,
    .link-box:nth-of-type(2),
    .link-box:nth-of-type(3),
    .link-box:nth-of-type(4) {
        width: 300px;
    }

    .box-title {
        font-size: 24px;
        text-align: center;
    }

    .above-text {
        font-size: 16px;
        text-align: center;
    }
}