/* Variables and Animations */
:root {
  --acorn-font: 'Acorn', sans-serif;
  --background-image: url(../images/light-mode.JPEG);
  --lighter-text-color: rgba(16, 90, 78, 0.8);
  --menu-background-color: rgb(16, 90, 78);
  --menu-text-color: #e7d2cb;
  --montserrat-font: 'Montserrat', sans-serif;
  --nav-background-hover: rgba(16, 90, 78, 0.3);
  --nav-height: 48px;
  --nav-text-hover: white;
  --project-text-color: #354542;
  --rhythm: 1.5rem;
  --slider-bg-light: #ccc;
  --text-color: #105a4e;
  --text-hover: #578b83;
}

.dark-mode {
  --background-image: url(../images/dark-mode.JPEG);
  --lighter-text-color: rgba(231, 210, 203, 0.8);
  --nav-background-hover: rgba(231, 210, 203, 0.3);
  --nav-text-hover: #105a4e;
  --project-text-color: #e7d2cb;
  --slider-bg-light: #555;
  --slider-color: #283735;
  --text-color: #e7d2cb;
  --text-hover: #283735;
}

@font-face {
  font-family: Acorn;
  src: url(../fonts/acorn-medium.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/montserrat.ttf);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Base Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  color: var(--text-color);
  font-family: var(--montserrat-font);
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-attachment: fixed;
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100vw;
}

h1 {
  animation: fadeInUp 0.5s 0.2s forwards;
  font-family: var(--acorn-font);
  font-size: 2.8125rem;
  margin: 0 auto;
  margin-top: 30px;
  opacity: 0;
  padding-top: 60px;
  text-align: center;
  transform: translateY(-20px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 70%;
}

h2 {
  font-family: var(--acorn-font);
  font-size: 45px;
}

p {
  animation: fadeInUp 0.8s 0.4s forwards;
  color: var(--lighter-text-color);
  font-size: 0.875rem;
  opacity: 0;
  text-align: center;
  transform: translateY(-20px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

p a {
  font-weight: bold;
}

p a:hover {
  color: var(--text-hover);
}

.home {
  display: none;
}

header {
  animation: fadeInUp 0.2s forwards;
  background: var(--nav-background-hover);
  height: var(--nav-height);
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transform: translateY(-20px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 100%;
  z-index: 1000;
}

header label {
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 26px;
  z-index: 1001;
}

header label span {
  background-color: var(--text-color);
  border-radius: 2px;
  color: var(--menu-text-color);
  display: block;
  height: 3px;
  position: absolute;
  transform-origin: left;
  width: 100%;
}

header label span:nth-child(1) {
  top: 0;
}

header label span:nth-child(2) {
  top: 8px;
}

header label span:nth-child(3) {
  top: 16px;
}

nav {
  background: var(--menu-background-color);
  height: 100vh;
  margin-block-start: var(--nav-height);
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0;
}

nav ul li a {
  background: var(--menu-background-color);
  color: var(--menu-text-color);
  display: block;
  font-family: var(--acorn-font);
  font-size: 1.25rem;
  padding-block: 1rem;
  padding-inline: 1rem;
  text-decoration: none;
  transition: 0.3s ease;
}

nav ul li a:hover {
  background-color: var(--menu-text-color);
  color: var(--menu-background-color);
}

.nav-toggle:checked ~ nav {
  right: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(1) {
  top: -2px;
  transform: rotate(45deg);
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(2) {
  opacity: 0;
}

.nav-toggle:checked ~ .nav-toggle-label span:nth-child(3) {
  transform: rotate(-45deg);
}



.subtitle {
  animation: fadeInUp 0.8s 0.4s forwards;
  font-size: 1.125rem;
  justify-content: center;
  line-height: 1.6;
  margin: auto;
  margin-top: 30px;
  opacity: 0;
  transform: translateY(-20px);
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 65%;
}

.subtitle a {
  font-weight: bold;
}

.subtitle a:hover {
  color: var(--text-hover);
}

#second-paragraph {
  margin: auto;
  margin-top: 50px;
  width: 75%;
}

.contact {
  font-size: 40px;
}

footer {
  animation: fadeInUp 0.8s 1.2s forwards;
  background: transparent;
  margin-top: 50px;
  opacity: 0;
  text-align: center;
  transform: translateY(-20px);
  transition: 0.3s ease;
}

footer h1 {
  margin: 0 auto;
  padding-top: 30px;
  text-align: center;
  width: 100%;
}

footer a i {
  color: var(--text-color);
  font-size: 1.5625rem;
  margin: 0 10px;
  margin-bottom: 50px;
  margin-top: 8px;
  padding-bottom: 40px;
  text-decoration: none;
  transition: transform 0.2s ease;
}

footer a i:hover {
  color: var(--text-hover);
  transform: scale(1.45);
}

.footer-hidden-text {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.links a i {
  color: var(--text-color);
  font-size: 30px;
  margin: 0;
  margin-bottom: 50px;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.links a i:hover {
  color: var(--text-hover);
  transform: scale(1.45);
}

.link-boxes {
  animation: fadeInUp 0.8s 0.6s forwards;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-top: 30px;
  opacity: 0;
  transform: translateY(-50px);
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.link-box {
  border-radius: 35px;
  display: block;
  padding-left: 30px;
  padding-top: 20px;
  position: relative;
  text-decoration: none;
  transition: transform 0.2s ease;
  width: 300px;
}

.link-box:hover {
  transform: scale(1.05);
}

.above-text {
  color: var(--project-text-color);
  font-size: 1.125rem;
  margin: 0;
}

.box-title {
  color: var(--project-text-color);
  font-family: var(--acorn-font);
  font-size: 1.875rem;
  text-align: left;
}

.link-box:first-of-type {
  background-color: #f3a1ad;
}

.link-box:nth-of-type(2) {
  background-color: #a3dcd5;
}

.link-box:nth-of-type(3) {
  background-color: #c78476;
}

.link-box:nth-of-type(4) {
  background-color: #f0c159;
}

.link-boxes a {
  font-family: var(--acorn-font);
  font-size: 45px;
}

.empty {
  color: transparent;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  background-color: var(--slider-bg-light);
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-image: url("../images/sun.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  bottom: -16px;
  content: "";
  height: 65px;
  left: -15px;
  position: absolute;
  transition: 0.4s;
  width: 65px;
}

input:checked + .slider {
  background-color: var(--slider-color);
}

input:checked + .slider:before {
  background-image: url("../images/moon.png");
  bottom: -12px;
  height: 60px;
  transform: translateX(28px);
  width: 60px;
}

/* Media Queries */
@media screen and (max-width: 1023px) {
  .nav-right {
    display: none;
  }

  .subtitle {
    margin-top: 20px;
  }
}

@media screen and (min-width: 650px) {
  h1 {
    font-size: 3.75rem;
    padding-top: 100px;
  }

  p {
    font-size: 1.125rem;
  }

  .subtitle {
    font-size: 1.25rem;
    margin-top: 25px;
  }

  footer h1 {
    font-size: 2.75rem;
  }

  footer a i {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .nav-toggle-label,
  label,
  input,
  nav ul li:first-child {
    display: none;
  }

@media screen and (max-width: 1023px) {
  .theme-switch {
    display: none;
  }
}

  h1 {
    font-size: 110px;
    padding-top: 5rem;
  }

  .home {
    background-color: transparent;
    display: flex;
    font-family: var(--acorn-font);
    font-size: 1.5rem;
    grid-column: 1/2;
    height: 50px;
    justify-content: left;
    margin: 35px 35px 15px 0;
    text-align: center;
    transition: 0.2s ease;
  }

  .home:hover {
    color: var(--text-hover);
    transform: scale(1.05);
  }

  header {
    background: none;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0 2rem;
    position: static;
  }

  nav {
    background: none;
    display: flex;
    height: 50px;
    justify-content: center;
    margin: 30px;
    position: static;
    width: auto;
  }

  nav ul {
    display: flex;
    gap: 1rem;
  }

  nav ul li a {
    background-color: transparent;
    border-radius: 50px;
    color: var(--text-color);
    display: block;
    font-family: var(--montserrat-font);
    font-size: 1rem;
    padding: 10px 25px;
    transition: 0.2s ease;
  }

  nav ul li a:hover {
    background-color: var(--nav-background-hover);
    color: var(--nav-text-hover);
  }

  .link-boxes {
    gap: 100px;
    margin-top: 70px;
  }

  .link-box {
    padding: 50px 50px 0 50px;
  }

  .link-box:first-of-type,
  .link-box:nth-of-type(2) {
    height: 450px;
  }

  .link-box:nth-of-type(3) {
    height: 520px;
  }

  .link-box:nth-of-type(4) {
    height: 460px;
  }

  .link-box:first-of-type {
    width: 500px;
  }

  .link-box:nth-of-type(2) {
    width: 750px;
  }

  .link-box:nth-of-type(3) {
    width: 850px;
  }

  .link-box:nth-of-type(4) {
    width: 800px;
  }

  .box-title {
    font-size: 35px;
    text-align: center;
  }

  .nav-right {
    align-items: center;
    display: flex;
    margin-left: auto;
  }

  .nav-right li {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 6.875rem;
    padding-top: 6rem;
  }

  .subtitle {
    font-size: 1.375rem;
    margin-top: 40px;
  }
}